<!-- Cabeçalho de Navegação -->
<header class="main-header">
  <nav class="main-nav">
    <ul class="nav-list">
      <!-- RouterLink para navegar para a rota 'home' -->
      <li class="nav-item"><a routerLink="/home" class="nav-link">Home</a></li>
      <!-- RouterLink para navegar para a rota 'sobre' -->
      <li class="nav-item">
        <a routerLink="/sobre" class="nav-link">Sobre</a>
      </li>
      <!-- RouterLink para navegar para a rota 'servicos' -->
      <li class="nav-item">
        <a routerLink="/servicos" class="nav-link">Serviços</a>
      </li>
      <!-- RouterLink para navegar para a rota 'contato' -->
      <li class="nav-item">
        <a routerLink="/contato" class="nav-link">Contato</a>
      </li>
      <!-- RouterLink para navegar para a rota 'painel' (login) -->
      <li class="nav-item"><a routerLink="/painel" class="nav-link">Login</a></li>
      <!-- RouterLink para navegar para a rota 'painel-controle' (área restrita) -->
      <li class="nav-item"><a routerLink="/painel-controle" class="nav-link">Painel de Controle</a></li>
    </ul>
  </nav>
</header>

<!-- Área principal onde os componentes das rotas serão carregados -->
<main class="main-content"> <!-- Adicionado class="main-content" aqui -->
  <router-outlet></router-outlet>
</main>

<!-- Componente do Rodapé -->
<app-rodape></app-rodape>
